

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.gm-style .gm-style-mtc label,
.gm-style .gm-style-mtc div {
    font-weight: 400;
}

.gm-control-active > img {
    box-sizing: content-box;
    display: none;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.gm-control-active > img:nth-child(1) {
    display: block;
}
.gm-control-active:hover > img:nth-child(1),
.gm-control-active:active > img:nth-child(1) {
    display: none;
}
.gm-control-active:hover > img:nth-child(2),
.gm-control-active:active > img:nth-child(3) {
    display: block;
}

.gm-ui-hover-effect {
    opacity: 0.6;
}
.gm-ui-hover-effect:hover {
    opacity: 1;
}

.gm-style .gm-style-cc span,
.gm-style .gm-style-cc a,
.gm-style .gm-style-mtc div {
    font-size: 10px;
    box-sizing: border-box;
}

@media print {
    .gm-style .gmnoprint,
    .gmnoprint {
        display: none;
    }
}
@media screen {
    .gm-style .gmnoscreen,
    .gmnoscreen {
        display: none;
    }
}

.gm-style-pbc {
    transition: opacity ease-in-out;
    background-color: rgba(0, 0, 0, 0.45);
    text-align: center;
}
.gm-style-pbt {
    font-size: 22px;
    color: white;
    font-family: Roboto, Arial, sans-serif;
    position: relative;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.gm-style img {
    max-width: none;
}
.gm-style {
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
}

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

#page-sub-header {
    background: #fff;
}

iframe#_hjRemoteVarsFrame {
    display: none !important;
    width: 1px !important;
    height: 1px !important;
    opacity: 0 !important;
    pointer-events: none !important;
}
#sp-header .navbar-brand > img {
    display: block;
    width: 90px;
}
#sp-header .navbar-inverse {
    background-color: #fff;
    box-shadow: 0 1px 23px #888888;
    border: none;
    margin: 0;
}

#sp-header .navbar-inverse .navbar-nav > li > a {
    font-weight: 400;
    color: #232323;
    text-transform: uppercase;
    padding: 0 10px;
    line-height: 7;
    font-size: 12px;
    letter-spacing: 1px;
}
#sp-header .navbar-brand {
    height: auto;
    padding: 10px 15px;
}
#sp-header .navbar-inverse .navbar-nav > .active > a {
    background-color: transparent;
    color: #000000;
}
#sp-header .navbar-inverse .navbar-nav > li > a:hover {
    color: #000000;
}
.sticky{position:fixed;top:0;right:0;left:0;z-index:9}
.sp-location-ad{}
.sp-location-ad .sp-box{
    margin-bottom: 5px;
}
.sp-location-ad .sp-box img{
    width: 52px!important;
    margin: 0 auto 15px;
}
.sp-location-ad .sp-box p{
    text-align: center;
    text-transform: uppercase;
}
.sticky-prop-bar {
    background-color: #eaecee;
    padding-top: 25px;
    padding-bottom: 25px;
}
.sticky-prop-bar {
    background-color: #e4e4e4;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 100px; */
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
    z-index: 11;
}
.single-properties .sticky-prop-bar h4 {
    margin: 0;
    color: #232323;
    line-height: 18px;
}
.sticky-prop-bar h4 {
    color: #232323;
    font-size: 12px;
    line-height: 24px;
    margin: 0;
    letter-spacing: 2px;
}
.single-properties .sticky-prop-bar span.prop-dtl {
    text-transform: uppercase;
}
.sticky-prop-bar span.prop-dtl {
    text-transform: none;
    font-size: 22px;
    line-height: 24px;
    color: #000000;
    font-family: "Optima"; 
    text-transform: uppercase;
}

.sp-london{padding: 5em 0 1em;}
.sp-london .col-sm-6:first-child{}
.pull-right .the-town-center-description {
    margin-right: 90px;
    margin-left: 0px;
}.section_map {
    margin-top: 30px;
    filter: grayscale(100%);
}
.footer-bottom {
    background-color: #f8f9fb;
    padding: 20px 0;
}footer#colophon {
    background-color: #F8F9FB !important;
    font-size: 100%;
    padding-top: 0;
}
#flat-tour, #floor-plan, #construction, #views, #why, #about{padding:3em 15px}
#floor-plan img, #construction img, #views img, #why img, #about img{margin-bottom:15px}
#why .sp-box, #about .sp-box{
    text-align: center;
}
#why .sp-box img, #about .sp-box img{
    width: 75px;
    margin: 0 auto 15px;
}
#why .sp-box img h4{}
#why .sp-box img p{}.navbar-inverse .navbar-toggle {
    border-color: #232323;
    background: #232323;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 400px;
        margin: 30px auto;
    }
}
.modal-body label {
    font-size: 13px;
    font-weight: 400;
}
.modal-body .form-control {
    border-radius: 0;
    border: 1px solid #b5b5b5;
    height: 45px;
}
.modal-body .form-group {
    margin-bottom: 20px;
}
.modal-body .btn {
    width: 100%;
    border-radius: 0;
    padding: 15px 0 11px;
    font-size: 15px;
    color: white;
    background: #232323;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: black;
    font-weight: 900;
}
.modal-content {
    border-radius: 0;
}
.menu-legal-menu-container ul li {
    display: inline-block;
    position: relative;
    padding-right: 25px;
    margin-right: 25px;
    margin-bottom: 0;
    color: black;
}html {
  scroll-behavior: smooth;
}

.youtube {
    height: 410px;
}

@media screen and (max-width: 420px) {
    .youtube {
        height: 180px;
    }
}
.youtube {
    /* margin: 40px auto 0; */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    overflow: hidden;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.youtube .play {
    background: url(assets/download.png) center center no-repeat;
    background-size: 64px 64px;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.youtube .play:hover {
    opacity: 1;
}
#flat-tour h4{text-align:center}
@media screen and (min-width: 350px) and (max-width: 760px) {
    #sp-header .navbar-brand > img {
        display: block;
        width: 55px;
    }
    .sticky img {
        width: 45px !important;
    }
    #sp-header .navbar-inverse .navbar-nav > li > a {
        line-height: 2;
    }
    .sticky .navbar-nav a {
        line-height: 2 !important;
    }.pull-right .the-town-center-description {
    margin-right: 0px;
    margin-left: 0px;
}
}

@media screen and (max-width: 350px) {
    #sp-header .navbar-brand > img {
        display: block;
        width: 55px;
    }
    .sticky img {
        width: 45px !important;
    }
    #sp-header .navbar-inverse .navbar-nav > li > a {
        line-height: 2;
    }
    .sticky .navbar-nav a {
        line-height: 2 !important;
    }.pull-right .the-town-center-description {
    margin-right: 0px;
    margin-left: 0px;
}
}
