@font-face {
  font-family: 'Optima';
  src: url('fonts/Optima-Regular.eot'), url('fonts/Optima-Regular.eot') format('embedded-opentype'), url('Optima-Regular.ttf') format('truetype'), url('Optima-Regular.woff') format('woff'), url('Optima-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}